includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app
        - routes
        - config
    scanFiles:
        - _ide_helper.php
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
