../node_modules
**/node_modules

../vendor
**/vendor
**/.git/
**/*.md
**/.DS_Store

*.iml
*.log
*.swp
*.swo
*.swn
*.bak
*.tmp
*.idea/
*.vscode/

../_ide_helper*.php
**/_ide_helper*.php

../storage/*.key
../storage/logs/*
../storage/framework/cache/*
../storage/framework/sessions/*
../storage/framework/views/*

../coverage/
../phpunit.xml.cache

../public/hot
../public/build/
../build/

*.zip
*.tar
*.tar.gz
*.rar
*.7z
